# Example executables (path-qualified so the source dirs are not ignored).
#
archivertest/archivertest
capitalize/capitalize
condense/condense
filterkey/filterkey
filterkeydom/filterkeydom
jsonx/jsonx
lookaheadparser/lookaheadparser
messagereader/messagereader
parsebyparts/parsebyparts
pretty/pretty
prettyauto/prettyauto
schemavalidator/schemavalidator
serialize/serialize
simpledom/simpledom
simplepullreader/simplepullreader
simplereader/simplereader
simplewriter/simplewriter
sortkeys/sortkeys
traverseaspointer/traverseaspointer
tutorial/tutorial

# Testscript output directories (can be symlinks).
#
test
test-*
